
/* if width<350px */
@media only screen and (max-width: 900px){
    .icon-nav{
        display: none;
    }
@media only screen and (max-width: 450px){
    .navbar,
    .navbar-brand,
    .volunteering-area,
    .icon1-desc,
    .contact-me,
    .volunteer,
    .vol1,
    .contact-area,
    .site-title,
    .site-banner,
    .academics-title p
    {
        padding: 2%;
        margin: 0%;
    }
    .contact-me{
        text-align: center;
    }
    .site-title h1{
        font-size: 41px;
    }
    
    .volunteer-title h2{
        font-size: 30px;
    }
    .achievement-area,
    .volunteering-area,
    .contact-area{
    
    }
    .site-title{
        padding-bottom: 3rem;
    }

}
@media only screen and (max-width: 792px){
    .about-title h2{
        font-size: 31px;
        letter-spacing: 10px;
    }
    .about-title p{
        padding: 2%;
        margin: 0%;
    }
    .skill-area{
        padding-left: 1%;
        /* padding-bottom: 4rem; */
        /* width: 49%; */
        align-content: center;
        transform: scale(1.2);
    }
    .experience-area{
        display: none;
    }
    .years2{
        display: block;
        text-align: center;
        font-weight: bold;
        padding-top: 4rem;
        padding-left: 4rem;
    }
    .academics,
    .abc,
    .first-row,
    .skill-area{
        margin: auto;
    }
    .academics-area{
        padding-top: 8rem;
    }
    
    
    /* .first{
        display: none;
    }
    .first-row2{
        display: block;
    }
    .first-row2 h2{
        text-align: center;
    } */
}
@media only screen and (max-width: 1000px){
    .contact-me{
        text-align: center;
    }
    .banner-image{
        display: none;
    }
    
}
@media only screen and (max-width: 950px){
    
}