/*import fonts from from fonts.css*/
@import "./fonts.css";


/* css variables */

@import "./partials/_variables.css";

/* global css */
@import "./partials/_global.css";

/* ------start navigation-------- */


.img-photo{
    /* padding-right: 1rem; */
    width: 60%;
    border: 3.5px solid var(--primary-color5);
    border-radius: 100px;
    
}
.icon-nav a{
    text-decoration: none;
    color: inherit;
}
.icon-nav i{
    /* width: 60%; */
    padding-right: 0.5rem;
}
.icon-nav2{
    /* padding-left: 2rem; */
    /* padding-right: 1rem; */
}
.navbar-brand{
    padding: 0 0rem 0 5rem;
}
 
.navbar{
    padding: 0.2rem 14rem;
}

.nav-link{
    font: normal bold 15px/2px var(--roboto);
    /* font-family: var(--roboto); */
    text-transform: uppercase;
    /* font-weight: bold; */
    padding: 2rem;
    color: var(--title-color);
}

.active a{
    background-color: var(--gradient-color);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
}

a:hover{
    background-color: var(--gradient-color);
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-clip: text;
}

/* ------ end navigation---------*/

/* ----------start banner area-------- */
.site-banner{
    background: url("/img/banner/home-banner.png") no-repeat;
    background-position: 0% 25%;
    padding: 2rem;
}
.site-buttons a{
    text-decoration: none;
    color: inherit;
}
.site-title{
    padding-left: 6rem;
}
.site-title h1{
    font-size: 3rem;
}
.site-title h3{
    padding-top: 35%;
    font-weight: 500;
}
.site-title h3::after{
    content: "";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translate(-10px);
}
.site-title h4{
    font-size: 1.55rem;
}
.banner-image{
    padding: 5rem;
    width: 90rem;
}

/* ----------End banner area-------- */

/* Start about area */
.about-area{
    padding: 3rem 0rem;
}
.about-title{
    padding-left: 2rem;
}
.about-title h2{
    display: block;
    font: normal bold 49px/60px "Roboto";
    letter-spacing: 10px;
}
.paragraph p{
    /* padding: 1rem 0; */
}
.about-image{
    align-content: right;
    width: auto;
    float: right;
    /* height: 20rem; */
}
/* End about area */

/* Start skill area */
.years2{
    display: none;
}
.skill-area{
    padding: 4rem 10rem;
    margin-bottom: 4rem;
}

.skill-area.first-row.col-lg-4{
    display: flex;
    justify-content: left;
}
.single-skill{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 150px;
    height: 90px;
    cursor: default;
    translate: transform .4s ease ;
}
.single-skill img{
    width: 40%;
}

.single-skill:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.09);
}
.single-skill img:hover{
    filter: brightness(0.15);
}

.experience-area{
    padding-left: 1rem;
}
.skill-q span{
    /* margin-left: 135px;   
    padding-left: 10px;
    padding-right: 90px;  */
    color: var(--text-color);
    font: normal italic 30px/30px var(--roboto);
    text-align: center;
    
}

.skill-quote2{
    /* margin-left: 500px;
    margin-top: 30px; */
    font: normal 20px/30px "Roboto";
}
.quote span{
    display: block;
    color: rgb(65, 63, 73);
}
/* .skill-quote:hover{
    filter: brightness(0.15);
    transform: scale(1.06);
} */

.years-area{
    background: url(/img/client-info-bg.png) no-repeat 45px 20px;
    padding: 3rem 0rem;
    width: 40rem;
    height: 12rem;
    padding-left: 8rem;
    float: right;
    position: absolute;
    right: -140px;
    top: 0%;
}
.years{
    font-weight: bold ;
    font-size: 50px;
    color:var(--primary-color3);
}
.years-area h2{
    padding-top: 0.9rem;
    padding-left: 1rem;

}

.bg-panel{
    position: absolute;
    right: 40px;
    top: 0%;
    background: #e029290a;
    width: 400px;
    height: 370px;
    margin-right: 30px;
    float: right;
}

.quote{
    position:absolute;
    bottom: 20px;
}
.first-row{
    float: left;
    padding: 0 3rem;
}
.logo1 img{
    width: 50%;
}
.logo3 img{
    width: 25%;
}
.logo4 img{
    width: 55%;
}
.logo5 img{
    width: 60%;
}
.logo6 img{
    width: 60%;
}
.logo7 img{
    width: 30%;
}
.logo8 img{
    width: 20%;
}
.logo9 img{
    width: 20%;
}

/* End skill area */

/* start academic area */
.academics-area{
    padding: 2rem 0rem;
    margin-bottom: 2rem;
}
.academics-title{
    padding: 0rem 3rem;
}
.academics-title h1{
    font-size: 35px;
}
.academics{
    background: rgba(241, 253, 255, 0.973);
    padding: 20px 0px;
    width: 21rem;
    height: 28rem;
    /* margin: rem 0.5rem; */
    transition: box-shadow 0.7s ease;
    /* border: 2px solid var(--border-color); */

}
.academics:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.05);
    filter: brightness(1.15);
}
.para{
    color: var(--text-color);
    padding: 0rem 0rem;
    text-align: center;
}
.icon-batch i{
    padding-bottom: 0.9rem;
}
.icon-branch i{
    padding-bottom: 0.9rem;
}
.academics-nit-img img{
    /* padding-top: 20px; */
    border: 4px solid var(--primary-color4);
    width: 90%;
}
.academics-bisss-img img{
    /* padding-top: 20px; */
    border: 4px solid var(--primary-color4);
    width: 86.5%;
}
.academics-vms-img img{
    /* padding-top: 20px; */
    border: 4px solid var(--primary-color4);
    width: 58%;
}
/* End academic area */

/* Start Projects Area */
.project-area{
    padding-top: 4rem;
}
.button-group button{
    background: transparent;
    border: none;
    font: normal 600 16px/20px ;
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
}
/* .active{
    padding-right: 3rem;
} */
.button-group button + button{
    padding-left: 3rem;
}
.title h4{
    font: normal 700 23px/30px var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}

.img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
    transform: scale(1.1);
}
.img img{
    width:95%;
}
/* End Projects Area */



/* Start Achievments area */

.achievement-area{
    padding-top: 8rem;
}
.achievement-title p{
    padding: 0rem 5rem;
}
.client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 2rem 0rem;
}
.client-img{
    padding: 2rem;
}
.about-client{
    padding: 2rem;
}
.about-client h4{
    font: normal 500 21px/20px var(--roboto);
}
.about-client p{
    font-size: 14px;
}
.achie{
    align-content: center;
}
.owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}
.site-main.achievement-area.owl-carousel.owl-dots.owl-dot.active span{
    background: var(--primary-color2);
    width: 12px;
    height: 12px;
}
/* End Achievments area */

/* start Volunteer Area */
.volunteering-area{
    padding: 2rem;
}
.volunteer-title{
    background: url(../img/subscribe-bg.png) repeat;
    height: max-content;
    color: white;
}
.icon1 img{
    width: auto;
    margin: 2rem;
    
}
.icon1-desc{
    
    padding: 4rem;
}
.icon1 img{
    width: 80%;
    padding-top: 2rem;
}
.icon3 img{
    width:50%;
    padding-top: 1rem;
    float: center;
}
.volunteer-title h2{
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* End Volunteer Area */


/* Start Contact area */

.contact-area{
    background: var(--gradient-color2);
    width: auto;
    height: auto;
    padding: 3rem;
}
.map{
    
    padding-right: 1rem;
}
.index{
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    /* padding-left: 2rem; */
    
}
.index a{
    color: white;
    font: 14px;
    line-height: 40px;
}
.contact-me{
    padding-top: 2rem;
    padding-left: 5rem;
    padding-bottom: 2rem;
    text-align: right;
}
.contact-me a{
    color: white;
}
.contact-me h2{
    font-weight: bold;
    color: white;
    line-height: 40px;
}
.contact-me h5{
    color: white;
    line-height: 40px;
}
/* End Contact area */